* {
    padding: 0;
    margin: 0;
}

body {
    color: lightgreen;
    background-color: #151515;
    height: 95vh;
    width: 95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}