* {
    padding: 0;
    margin: 0;
}

body {
    color: lightgreen;
    background-color: #151515;
    height: 95vh;
    width: 95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    color: lightgreen;
    background-color: transparent;
    padding: 10px;
    font-size: 2em;
    border-color: lightgreen;
    border-radius: 10px;
    margin: 30px 10px;
    cursor: pointer;
}

button i {
    margin-right: 5px;
}

#buttons {
    display: flex;
    flex-direction: row;
}